<?xml version="1.0" encoding="UTF-8" ?>
<!--映射文件DTD约束头-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis图集管理映射文件-->
<mapper namespace="cn.ywrby.mapper.IcMapper">

    <insert id="addIc" keyProperty="id" useGeneratedKeys="true" parameterType="ImgCol">
        insert into ic_info (ic_name,ic_path,ic_desc) values (#{ic_name},#{ic_path},#{ic_desc})
    </insert>

    <select id="getIc" resultType="ImgCol">
        select * from ic_info
    </select>

    <select id="getIcPathByID" resultType="String">
        SELECT ii.ic_path FROM ic_info ii WHERE ii.ID=#{icID}
    </select>

    <select id="getIcByID" resultType="Image">
        SELECT * FROM image_info ii WHERE ii.ic_id=#{icID}
    </select>

    <delete id="deleteImage">
        DELETE FROM image_info ii WHERE ii.imageID=#{imageID};
    </delete>

    <insert id="addImage"  keyProperty="imageID" useGeneratedKeys="true" parameterType="Image">
        insert into image_info (ic_id,imageName,thumbnail) values (#{ic_id},#{imageName},#{thumbnail})
    </insert>

    <select id="getImgCol" resultType="ImgCol">
        select * from ic_info WHERE ID=#{ic_id}
    </select>

    <select id="getICImageInfo" resultType="Image">
        select * from image_info where ic_id=#{ic_id}
    </select>
</mapper>