<?xml version="1.0" encoding="UTF-8" ?>
<!--映射文件DTD约束头-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis图集管理映射文件-->
<mapper namespace="cn.ywrby.mapper.IcMapper">

    <insert id="addIc" keyProperty="id" useGeneratedKeys="true" parameterType="ImgCol">
        insert into ic_info (ic_name,ic_path,ic_desc,ic_cover) values (#{ic_name},#{ic_path},#{ic_desc},#{ic_cover})
    </insert>

    <select id="getIc" resultType="ImgCol">
        select * from ic_info
    </select>

    <select id="getIcPathByID" resultType="String">
        SELECT ii.ic_path FROM ic_info ii WHERE ii.ID=#{icID}
    </select>

    <select id="getIcByID" resultType="Image">
        SELECT * FROM image_info ii WHERE ii.ic_id=#{icID}
    </select>

    <delete id="deleteImage">
        DELETE FROM image_info ii WHERE ii.imageID=#{imageID};
    </delete>

    <insert id="addImage"  keyProperty="imageID" useGeneratedKeys="true" parameterType="Image">
        insert into image_info (ic_id,imageName,thumbnail) values (#{ic_id},#{imageName},#{thumbnail})
    </insert>

    <select id="getImgCol" resultType="ImgCol">
        select * from ic_info WHERE ID=#{ic_id}
    </select>

    <select id="getICImageInfo" resultType="Image">
        select * from image_info where ic_id=#{ic_id}
    </select>

    <select id="getImageTag" resultType="Tag">
        SELECT ti.id,ti.tag_name FROM image_tag it,tag_info ti WHERE it.tag_id=ti.id AND it.image_id=#{imageID}
    </select>

    <select id="haveTag" resultType="java.lang.Integer">
        select ifnull((select id from tag_info where tag_name=#{tag_name}),0);
    </select>

    <insert id="addTag" keyProperty="id" useGeneratedKeys="true" parameterType="Tag">
        INSERT INTO tag_info (tag_name) VALUES (#{tag_name})
    </insert>

    <delete id="deleteImageTagByImageID">
        DELETE FROM image_tag it WHERE it.image_id=#{imageID}
    </delete>

    <insert id="addImageTag">
        INSERT INTO image_tag (image_id,tag_id) VALUES (#{imageID},#{tagID})
    </insert>

    <update id="updateImageInfo">
        UPDATE image_info ii SET ii.imageScore=#{imageScore},ii.followed=#{followed},ii.createDate=#{createDate},ii.remark=#{remark},ii.url=#{url},ii.imageName=#{imageName} WHERE ii.imageID=#{imageID}
    </update>

    <select id="getImageByID" resultType="Image">
        SELECT * FROM image_info ii WHERE ii.imageID=#{imageID} LIMIT 1
    </select>

    <update id="changeFollowedState">
        UPDATE image_info ii SET ii.followed=ABS(ii.followed-1) WHERE ii.imageID=#{imageID}
    </update>

    <select id="getRandomImage" resultType="Image">
        SELECT * FROM image_info order by rand() limit #{num};
    </select>

    <delete id="deleteIC">

        DELETE FROM ic_info WHERE id=#{ic_id}
    </delete>

    <update id="updateIC">
        UPDATE ic_info SET ic_name=#{ic_name},ic_desc=#{ic_desc},ic_cover=#{ic_cover} WHERE id=#{id}
    </update>
</mapper>